---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import { SITE_DESCRIPTION, SITE_KEYWORDS, SITE_TITLE } from '../consts';
import '../styles/global.css';

interface Props {
	title?: string;
	description?: string;
	image?: string;
	keywords?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title = SITE_TITLE, description = SITE_DESCRIPTION, image = import.meta.env.BASE_URL + '/logo.png', keywords = SITE_KEYWORDS } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}/favicon.svg`} />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href={`${import.meta.env.BASE_URL}/fonts/Miskan.ttf`} as="font" type="font/ttf" crossorigin />

<!-- Google Fonts and Material Icons -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&family=Hanken+Grotesk:wght@400;700&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap" rel="stylesheet">

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content="Summer Is Volley" />
<meta name="keywords" content={keywords} />
<meta name="robots" content="index, follow" />
<meta name="theme-color" content="#ffffff" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<link rel="stylesheet" href="photoswipe/dist/photoswipe.css">

