---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import {SITE_DESCRIPTION, SITE_TITLE} from '../consts';
import '../styles/global.css';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!-- Global Metadata -->
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
<meta name="generator" content={Astro.generator}/>

<!-- Font preloads -->
<link rel="preload" href="/fonts/Miskan.ttf" as="font" type="font/ttf" crossorigin/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL.toString()}/>

<!-- Primary Meta Tags -->
<title>{SITE_TITLE}</title>
<meta name="title" content={SITE_TITLE}/>
<meta name="description" content={SITE_DESCRIPTION}/>

<link rel="stylesheet" href="photoswipe/dist/photoswipe.css">
