---
import {Image} from "astro:assets";
import {getCollection} from "astro:content";

const sponsors = await getCollection("sponsors");
---

<!--Fixed view (desktop) -->
<div class="w-full lg:inline-flex flex-nowrap py-8 justify-center overflow-hidden hidden">
    <ul class="flex gap-5 items-center justify-center md:justify-start [&_img]:max-w-none">
        {
            sponsors.map(sponsor => (
                    <li>
                        <Image
                                src={sponsor.data.logo}
                                height={80}
                                alt={sponsor.data.name}
                                quality={50}
                                loading="eager"
                        />
                    </li>
            ))
        }
    </ul>
</div>

<!--Animated view (mobile and tablets) -->
<div class="w-full inline-flex flex-nowrap py-8 overflow-hidden lg:hidden">
    <ul class="flex gap-5 items-center justify-center md:justify-start [&_img]:max-w-none animate-infinite-scroll">
        {
            sponsors.map(sponsor => (
                    <li>
                        <Image
                                src={sponsor.data.logo}
                                height={70}
                                alt={sponsor.data.name}
                                quality={50}
                                loading="eager"
                        />
                    </li>
            ))
        }
    </ul>
    <ul class="flex gap-5 items-center justify-center md:justify-start [&_img]:max-w-none animate-infinite-scroll" aria-hidden="true">
        {
            sponsors.map(sponsor => (
                    <li>
                        <Image
                                src={sponsor.data.logo}
                                height={70}
                                alt={sponsor.data.name}
                                quality={50}
                                loading="eager"
                        />
                    </li>
            ))
        }
    </ul>
</div>